@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Consolas', sans-serif;
}

body {
	background: #44A08D;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-repeat: no-repeat;
}

.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}

/* Estilos para el encabezado */
.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.container .btn-menu,
.logo {
	float: left;
	line-height: 100px;
	letter-spacing: 15px;
	font-family: 'Consolas';
	text-shadow: 2.5px 0px 10px #0dc98d;
}

.container .btn-menu label {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 97px;
	margin-right: 0px;
	margin-top: 10px;
	display: flex;
}

.btn-menu img {
	height: 30px;
}

.menu img {
	height: 25px;
	margin-right: 10px;
	margin-top: 10px;
}

.menu a {
	margin-top: 10px;
}

.cont-menu img {
	height: 20px;
	margin-right: 10px;
}

.container .menu {
	float: right;
	line-height: 100px;
}

.container .menu a {
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 13px;
	margin-right: 5px;
	font-family: 'Consolas';
	letter-spacing: 2px;
}

.container .menu a:hover {
	border-bottom: 2px solid #4aebd0;
	padding-bottom: 5px;
}

/* Fin de Estilos para el encabezado */

.capa {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
}

/*Modelos*/
.container-card {
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
	margin-bottom: 5%;
}

.title-cards {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2.5px 0px 10px #10ccb3;
}

.card {
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #062122;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: default;
}

.card:hover {
	box-shadow: 15px 15px 20px #10ccb3;
	transform: translateY(-3%);
}

.card img {
	width: 100%;
	height: 180px;
}

.card .contenido-card {
	padding: 15px;
	text-align: center;
}

/*Titulo de la carta*/
.card .contenido-card h3 {
	margin-bottom: 15px;
	color: white;
}

/*Contenido*/
.card .contenido-card p {
	line-height: 1.8;
	color: whitesmoke;
	font-size: 14px;
	margin-bottom: 5px;
}

.card .contenido-card a {
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #0dc98d;
	border: 1px solid #0dc98d;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}

.card .contenido-card a:hover {
	background: #0dc98d;
	color: #fff;
}

/*Scroll chido*/
.header {
	transition: background-color 0.3s ease;
}

.header.scrolled {
	background-color: rgba(5, 26, 21, 0.93);
}

@media only screen and (max-width: 768px) {
	.header {
		height: auto;
		padding-right: 23px;
		padding-left: 23px;
		padding-top: 5px;
		padding-bottom: 10px;
	}

	.container .btn-menu,
	.logo {
		float: none;
		text-align: center;
	}

	.logo h1 {
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 7%;
		margin-right: auto;
		text-align: center;
		margin-top: 19px;
	}

	.menu a[target="_blank"] {
		font-size: 0;
	}

	.logo img {
		margin-right: 0;
		margin-left: 5px;
		width: 10vh;
		height: 10vh;
	}

	.btn-menu img {
		width: 3vh;
		height: 3vh;
		margin-right: 10px;
		margin-left: 0px;
	}

	.title-cards {
		width: 100%;
		max-width: 1080px;
		margin: auto;
		padding: 20px;
		margin-top: 20px;
		text-align: center;
		color: whitesmoke;
	}

	.container-card {
		flex-wrap: wrap;
	}

	.card {
		margin: 15px;
	}
}

/*:::::Pie de Pagina*/
.pie-pagina {
	width: 100%;
	background: #093637;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #00100d, #093637);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #00100d, #093637);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.pie-pagina .grupo-1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
	width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
	color: #efefef;
	margin-bottom: 10px;
	font-size: 15px;
}

.pie-pagina .grupo-1 .red-social a {
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
	background: #10ccb3;
	box-shadow: 0 0 10px #10ccb3, 0 0 40px #10ccb3, 0 0 80px #10ccb3;
	transition-delay: none;
	color: #fff;
	border-radius: 10px;
}

.pie-pagina .grupo-2 {
	background-color: #00100d;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
	box-shadow: 0 0 10px #10ccb3, 0 0 40px #10ccb3, 0 0 80px #10ccb3;
}

.pie-pagina .grupo-2 small {
	font-size: 15px;
}

.pie-pagina .grupo-1 .box img {
	width: 45px;
}

@media screen and (max-width:800px) {
	.pie-pagina .grupo-1 {
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		padding: 35px 0px;
	}

	.pie-pagina .grupo-1 .box img {
		width: 45px;
	}

	.pie-pagina .grupo-1 .box figure img {
		width: 50px;
	}
}
/*:::Ventana Modal:::*/
#btn-modal {
	display: none;
}

.container-modal {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(5, 173, 153, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

#btn-modal:checked~.container-modal {
	display: flex;
}

.content-modal {
	width: 100%;
	max-width: 400px;
	padding: 20px;
	background: #44A08D;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #093637, #44A08D);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #093637, #44A08D);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-radius: 4px;
}

.content-modal h2 {
	margin-bottom: 15px;
	color: white;
	text-shadow: -1px -1px 0 #00fe99,
		1px -1px 0 #000200,
		-1px -1px 0 #000100,
		1px -1px 0 #000900;
	text-align: center;
}

.content-modal p {
	padding: 15px 0px;
	border-bottom: 1px solid #000000;
	color: white;
	text-shadow: -1px -1px 0 #060606,
		1px -1px 0 #000200,
		-1px -1px 0 #000100,
		1px -1px 0 #000900;
	text-align: center;
}

.content-modal .btn-cerrar {
	width: 100%;
	margin-top: 15px;
	display: flex;
	justify-content: flex-end;
}

.content-modal .btn-cerrar label {
	padding: 7px 10px;
	background: #119177;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover {
	background: #10ccb3;
	box-shadow: 0 0 10px #10ccb3, 0 0 40px #10ccb3, 0 0 80px #10ccb3;
}

.cerrar-modal {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

@media screen and (max-width:800px) {
	.content-modal {
		width: 90%;
	}
}

/*:::Fin Ventana Modal:::*/
